*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f7f8;
  color: #0f1514;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: #333;
}

main {
  display: grid;
  background: #fff;
  border-radius: 10px;
  margin: 30px auto ;
  max-width: 960px;
  height: 586px;
}

@media (min-width: 680px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}